@value v-light-grey: #EFEFEF;
@value v-dark-grey: #555;
@value v-white: #FFF;

:host {
    all: initial;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

.bar-chart__bar-value {
    margin-bottom: .2rem;
    font-size: .5rem;
    order: 1;
    color: v-dark-grey;
    text-align: center;
}

.bar-chart__figure {
    border: 1px solid v-light-grey;
    border-radius: .5rem;
    padding-top: 1rem;
    margin: 1rem auto;
    background-color: white;
}

.bar-chart__caption {
    margin-top: 1rem;
    padding: 1rem;
    background-color: v-light-grey;
}

.bar-chart__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(4rem, auto);
    align-items: end;
    justify-content: start;
    overflow-x: scroll;
}

.bar-chart__bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    margin: .3rem;
}

.bar-chart__bar {
    display: block;
    margin: 0 auto;
    width: 3rem;
    position: relative;
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    order: 2;
}

@media (prefers-reduced-motion: no-preference) {
    .bar-chart__bar {
        height: 0px;
        transition: height 1s ease;
      }
  }


.bar-chart__bar-label {
    order: 3;
    text-align: center;
    padding: .5rem;
    display: block;
    font-size: .9rem;
}

.bar-chart__error {
    color: red;
    padding: 1rem;
    font-size: .9rem;
}