:root {
    --red: 255,111,105;
    --yellow: 255,204,92;
    --teal: 33,144,144;
    --grey-lightest: 250,250,250;
    --grey-light: 234,234,234;
    --grey-medium: 214,214,214;
    --grey-dark: 51,51,51;
    font-size: 16px;
    --spacing-xs: .2rem;
    --spacing-s: .5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --monospace: 'Courier New', monospace;
    --sans-serif: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
}

a:hover {
    color: rgb(var(--teal));
}

body {
    margin: 0;
    font-family: var(--sans-serif);
    font-size: 16px;
    color: rgb(var(--grey-dark));
    font-weight: 100;
    background-color: white;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

.header { 
    padding: var(--spacing-s);
    font-family: var(--monospace);
    display: flex;
    align-items: center;
}

.header__icon {
    height: 3rem;
    width: auto;
    padding: var(--spacing-s);
    border-right: 1px solid rgb(var(--grey-light));
}

.header__heading {
    font-size: 2rem;
    margin: var(--spacing-s);
    color: rgb(var(--red));
}

.header__subheading {
    margin: var(--spacing-s);
    font-size: 1rem;
}

.nav {
    padding: var(--spacing-s);
    position: sticky;
    text-align: end;
    top: 0;
    z-index: 1;
    background-color: rgb(255,255,255,.9);
    border-bottom: 1px solid rgb(var(--grey-light));
}

.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__list-item {
    display: inline-block;
    padding: 0;
}

.nav__list-item:not(:last-of-type) {
    border-right: 1px solid black;
}


.nav__list-item-link {
    text-decoration: none;    
    padding: 0 var(--spacing-s);
    display: inline-block;
}

.nav__list-item-link--active {
    background-color: black;
    color: white;
}

.nav__list-item-link--active:hover {
    color: white;
}

.main {
    padding: var(--spacing-m);
}

.section:not(:last-of-type) {
    border-bottom: 1px solid rgb(var(--grey-light));
}

.article__content, .section__content {
    padding: var(--spacing-m);
}

.section__content--2col, .article__content--2col {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.article__col, .section__col {
    flex: 1 1 300px;
    padding: var(--spacing-m);
}

.main__heading, .section__heading, .article__heading {
    font-family: var(--monospace);
    margin: var(--spacing-m) 0 var(--spacing-s);
}

.article__select {
    all: unset;
    padding: var(--spacing-s);
    background-color: rgb(var(--yellow));
    margin: var(--spacing-s);
    border-radius: .2rem;
}

.article__dt {
    font-weight: bold;
    font-family: var(--monospace);

}

.article__dd {
    padding: var(--spacing-xs) 0 var(--spacing-m);
}

.chart {
    display: block;
}

.code, .code--inline {
    font-family: var(--monospace);
    background-color: black;
    color: white;
}

.code--inline {
    padding: 0 var(--spacing-xs);
}

.code {
    display: block;
    padding: var(--spacing-s);
    border-radius: .5rem;
    white-space: nowrap;
    overflow: scroll;
}

.footer {
    background-color: rgb(var(--teal));
    color: white;
    padding: var(--spacing-l);
    font-family: var(--monospace);
    text-align: center;
}

.footer a {
    color: white;
}

.footer a:hover {
    font-weight: bold;
}


@media screen and (min-width: 640px) {
    .code, .chart {
        max-width: 600px;
    }
}
